* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #a3d1c4;
}

table, table * {
  border: 2px solid black;
  width: 75%;
  margin: auto;
  text-align: center;
}

div {
  font-family: Georgia;
}

img {
  display: block;
  margin: auto;
  width: 540px;
  height: auto;
}

h1 {
  text-align: center;
  margin: 5px;
  font-size: 50px;
}

td, th {
  padding: 5px;
  font-family: Helvetica;
}

input, button {
  display: block;
  width: 20%;
  margin: auto;
  margin-bottom: 2px;
}

#add-button {
  border-radius: 5px;
  margin-bottom: 5px;
}

#add-button:hover {
  background-color: red;
}

#add-button:active {
  background-color: white;
}
